---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    © {today.getFullYear()} Priyanka Mishra
  </div>
  <div class="inline opacity-75">
    Data Analytics Portfolio | Built and maintained by Priyanka Mishra
  </div>
</footer>
